#required settings
APP_NAME=my-recipe-app
APP_HOST=127.0.0.1
APP_PORT=9393
ADMIN_EMAIL=recipe@example.com
ADMIN_DEFAULT_PASSWORD=Admin123!
DATABASE_USERNAME=admin
DATABASE_PASSWORD=admin

#optional settings
PROXY_TLS_ENABLED=false
PROXY_TLS_CERTIFICATE_FILE=tls.crt
PROXY_TLS_CERTIFICATE_KEY_FILE=tls.key
SIZE_OPTION_THUMBNAIL_HEIGHT=150
SIZE_OPTION_THUMBNAIL_WIDTH=200
SIZE_OPTION_MEDIUM_HEIGHT=400
SIZE_OPTION_MEDIUM_WIDTH=600
SIZE_OPTION_LARGE_HEIGHT=800
SIZE_OPTION_LARGE_WIDTH=1200

#pagination settings
PAGINATION_DEFAULT_PAGE_SIZE=12
